.recap-container-info{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 0px 30px;
    font-weight: 600;
    font-size: 20px;
}
.recap-cntainer-info-option{
    margin: 10px 30px 0px 30px;
    font-weight: normal;
}